<div class="field">
    <label class="label" for="response">Completion: Used ({{usedTokens}} of {{availableTokens}})</label>
</div>
<div class="control">
    <pre id="completion">{{completion}}</pre>
</div>